<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801197961896-4ebf78rkacs51odub2se0cc3q01n6duf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801197961896-4ebf78rkacs51odub2se0cc3q01n6duf</string>
	<key>API_KEY</key>
	<string>AIzaSyCmrfNbnWZTllkzh1vP4eBgNB1YXoT1U6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>801197961896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vhrProject</string>
	<key>PROJECT_ID</key>
	<string>vhrproject-35e59</string>
	<key>STORAGE_BUCKET</key>
	<string>vhrproject-35e59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801197961896:ios:0b0eb26ad45d32c3cbc89d</string>
</dict>
</plist>